<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header-css(#{login})">
</head>
<body class="jumbotron">
	<div class="container">
		<row>
		<div class="col-sm-4 col-md-4 col-sm-offset-4 col-md-offset-4">
			<img src="images/logo.png" class="img-responsive" th:alt="#{appName}" />
		</div>
		<div class="col-sm-4 col-md-4 col-sm-offset-4 col-md-offset-4" style="margin-top: 5%;">
			<form th:action="@{/login}" method="post">
				<fieldset>
					<div th:if="${param.error}">
						<div class="alert alert-danger" th:text="#{loginErrorMessage}">
							Invalid username and password.</div>
					</div>
					<div th:if="${param.logout}">
						<div class="alert alert-info" th:text="#{logoutMessage}">
							You have been logged out.</div>
					</div>

					<div class="form-group">
						<input type="text" name="name" id="name"
							class="form-control input-lg" th:placeholder="#{name}"
							required="true" />
					</div>

					<div class="form-group">
						<input type="password" name="employeeId" id="employeeId"
							class="form-control input-lg" th:placeholder="#{employeeId}"
							required="true" autofocus="true" />
					</div>
					<input type="submit" class="btn btn-lg btn-primary btn-block"
						th:value="#{login}" />
				</fieldset>
			</form>
		</div>
		</row>
	</div>

	<div th:replace="fragments/footer :: footer" />

</body>
</html>